.button {
  flex: 1;
  outline: solid 1px #999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #D1D2D5;
  font-size: 25px;
  
}

#zero-btn {
  flex: 2;
}
#accent-grey {
  background-color: #CACCCD;
}
.row .button:last-of-type {
  background-color: #F98E12;
  color: white;
}
