.display-window {
  flex: 2;
  position: relative;
  background-color: black;
  color: white;
}

.display-content {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 60px;
  font-weight: 300;
}
